Package: cython-doc
Source: cython
Version: 0.28.4-1
Architecture: all
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Installed-Size: 48
Depends: libjs-jquery, libjs-underscore
Suggests: cython
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://cython.org/
Description: C-Extensions for Python - documentation
 This package contains documentation for Cython.
